/*table {*/

    /*border-collapse: collapse;*/

    /*font-family: Futura, Arial, sans-serif;*/

/*}*/

/*caption {*/

    /*font-size: larger;*/

    /*margin: 1em auto;*/

/*}*/

/*th,td {*/

    /*padding: .65em;*/

/*}*/

/*th,td {*/

    /*border-bottom: 1px solid #ddd;*/

    /*border-top: 1px solid #ddd;*/

    /*text-align: center;*/

/*}*/

/*!*table 行立体悬停效果*!*/
/*tbody tr:hover {*/

    /*background: linear-gradient(#fff,#aaa);*/

    /*font-size: 17px;*/

/*}*/

/*--------------------------------------------------------------------------------------------------------------*/

* { padding: 0; margin: 0; }
table {
    border-collapse: collapse;
    border-spacing: 0;
    /*border: 1px solid #c0c0c0;*/
}

th,td {
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    color: #404060;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e4b9b9;
    font: bold 16px "微软雅黑";
    color: #fff;
}

td {
    font: 14px "微软雅黑";
}
tbody tr {
    background-color: #f0f0f0;
}
tbody tr:hover {
    cursor: pointer;
    background-color: #fafafa;
}