@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*------------------------------------------------------------------------------------------------------------------------
left*/

.leftsidebar {
    padding-left:-15px;
    width: 150px;
    /*height: auto !important;*/
    height: 100%;
    overflow: visible !important;
    position: relative;
    background-color: #B7D2FF;
}

.line {
    height: 2px;
    width: 100%;
    background-image: url(../src/main/webapp/resources/styles/images/left/line_bg.png);
    background-repeat: repeat-x;
}

/*1级菜单*/
.leftsidebar dt {
    padding-left: 40px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #577EB2;
    font-size: 16px;
    position: relative;
    line-height: 48px;
    cursor: pointer;
}
/*2级菜单*/
.leftsidebar dd {
    background-color: #AAC5E7;
    padding-left: 40px;
}
/*2级菜单标题样式*/
.leftsidebar dd a {
    cursor: pointer;
    color: #f5f5f5;
    line-height: 20px;
    font-size: 14px;
}
/*下拉箭头*/
.leftsidebar dt img {
    position: absolute;
    right: 10px;
    top: 20px;
}
/*2级菜单最后标题下边距*/
.leftsidebar dl dd:last-child {
    padding-bottom: 10px;
}