<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DeviceStatusDao">

    <insert id="add" parameterType="DeviceStatus">
        INSERT INTO DeviceStatus(`deviceid`,`deviceip`,`status`,`timestamp`,`info`,`reserved`)
        VALUES (#{deviceid},#{deviceip},#{status},#{timestamp},#{info},#{reserved});
    </insert>

    <update id="update" parameterType="DeviceStatus">
        UPDATE DeviceStatus
        <set>
            <if test="deviceip !=null">deviceip=#{deviceip}</if>
            <if test="status !=null">`status`=#{status}</if>
            <if test="timestamp !=null">`timestamp`=#{timestamp}</if>
            <if test="info !=null">info=#{info}</if>
            <if test="reserved !=null">reserved=#{reserved}</if>
        </set>
        WHERE deviceid=#{deviceid};
    </update>

    <delete id="deleteByTime" parameterType="String">
        DELETE FROM DeviceStatus
        WHERE <![CDATA[`timestamp` <= #{endTime} ]]>;
        <!--WHERE `timestamp` &lt;= #{timestamp}-->
    </delete>

    <delete id="deleteByDeviceid" parameterType="String">
        DELETE FROM DeviceStatus
        WHERE deviceid=#{deviceid};
    </delete>

    <select id="listByDeviceid" parameterType="String" resultType="DeviceStatus">
        SELECT `deviceid`,`deviceip`,`status`,`timestamp`,`info`,`reserved`
        FROM DeviceStatus
        WHERE deviceid=#{deviceid}
        ORDER BY `deviceid` DESC,`timestamp` DESC;
    </select>

    <select id="listByStatus" parameterType="int" resultType="DeviceStatus">
        SELECT `deviceid`,`deviceip`,`status`,`timestamp`,`info`,`reserved`
        FROM DeviceStatus
        WHERE `status`=#{status}
        ORDER BY `deviceid` DESC,`timestamp` DESC
        ;
    </select>

    <select id="listAllWithoutDuplicate" resultType="DeviceStatus">
        SELECT `deviceid`,`deviceip`,`status`,DATE_FORMAT(`timestamp`, '%Y-%m-%d %H:%i:%S') AS `timestamp`,`info`,`reserved`
        FROM DeviceStatus
#         GROUP BY deviceid HAVING `timestamp`=max(`newTime`)
        ORDER BY `deviceid` DESC,`timestamp` DESC
        ;
    </select>

    <select id="listAll" resultType="DeviceStatus">
        SELECT `deviceid`,`deviceip`,`status`,DATE_FORMAT(`timestamp`, '%Y-%m-%d %H:%i:%S') AS `timestamp`,`info`,`reserved`
        FROM DeviceStatus
        ORDER BY `timestamp` DESC,`deviceid` DESC
        ;
    </select>

    <select id="listByParam" resultType="DeviceStatus">
        SELECT `deviceid`,`deviceip`,`status`,DATE_FORMAT(`timestamp`, '%Y-%m-%d %H:%i:%S') AS `timestamp`,`info`,`reserved`
        FROM DeviceStatus
        <where>
            <if test="endTime !=null and endTime !=''">and #{endTime} >= `timestamp`</if>
            <if test="status !=null and status !='' and status >=0">and `status` = #{status}</if>
            <if test="deviceid !=null and deviceid !=''">and `deviceid` = #{deviceid}</if>
        </where>
    </select>

    <select id="countByParam" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM DeviceStatus
        <where>
            <if test="endTime !=null and endTime !=''">and #{endTime} >= `timestamp`</if>
            <if test="status !=null and status !='' and status >=0">and `status` = #{status}</if>
            <if test="deviceid !=null and deviceid !=''">and `deviceid` = #{deviceid}</if>
        </where>
    </select>

    <select id="countByParams" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM DeviceStatus
        <where>
            <if test="endTime !=null and endTime !=''">and #{endTime} >= `timestamp`</if>
            <if test="status !=null and status !='' and status >=0">and `status` = #{status}</if>
            <if test="deviceid !=null and deviceid !=''">and `deviceid` = #{deviceid}</if>
        </where>
    </select>

    <delete id="deleteByParam">
        DELETE FROM DeviceStatus
        <where>
            <if test="endTime !=null and endTime !=''">and #{endTime} >= `timestamp`</if>
            <if test="status !=null and status !='' and status >=0">and `status` = #{status}</if>
            <if test="deviceid !=null and deviceid !=''">and `deviceid` = #{deviceid}</if>
        </where>
    </delete>

    <delete id="discardDuplicate">
        DELETE FROM DeviceStatus
        WHERE SEQ NOT IN
              (SELECT SEQ,MAX(`timestamp`) FROM DeviceStatus GROUP BY deviceid);
    </delete>

</mapper>
        <!--Integer add(DeviceStatus deviceStatus);-->
        <!--Integer update(DeviceStatus deviceStatus);-->
        <!--Integer deleteByTime(String endTime);-->
        <!--Integer deleteByDeiviceid(String deviceid);-->
        <!--List<DeviceStatus> listByDeviceid(String deviceid);-->
        <!--List<DeviceStatus> listByStatus(int status);-->

        <!--List<DeviceStatus> listAllWithoutDuplicate();-->
        <!--Integer discardDuplicate();-->