label {
    text-align: left;
    line-height: 35px;
    height: 35px;
    font-size: 21px;
}
input {
    height: 35px;
}
dl dt{
    font-size: 16px;
}

/*Bootstrap*/
.row-fluid{
    padding-top: 10px;
}