<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>锁管理微信公众号</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 配置session域对象超时时间，单位分钟 -->
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

  <!-- 加载顺序: context-param —>listener —>web —>servlet -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring/spring.xml,
      classpath:net/bull/javamelody/monitoring-spring.xml
    </param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webName.root</param-value>
  </context-param>
  <!-- 设置由Sprng载入的Log4j配置文件位置 -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>
      classpath:properties/log4j.properties
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>
  <!--<listener>-->
    <!--<listener-class>com.yishu.web.SessionListener</listener-class>-->
  <!--</listener>-->
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

  <!-- 添加监控器 --><!-- 据说必须是第一个filter,才生效 -->
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 配置字符集 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--
  <web>
    <web-name>OpenidFilter</web-name>
    <web-class>com.yishu.webenidFilter</web-class>
  </web>
  <web-mapping>
    <web-name>OpenidFilter</web-name>
    <url-pattern>/jsp/folk/*</url-pattern>
  </web-mapping>
  <web-mapping>
    <web-name>OpenidFilter</web-name>
    <url-pattern>/jsp/shops/MyJsp.jsp</url-pattern>
  </web-mapping>
  -->

  <filter>
    <filter-name>struts2</filter-name>
    <!--
    <web-class>org.apache.struts2.dispatcher.web.StrutsPrepareAndExecuteFilter</web-class>
    struts2的主配置文件放根目录或者由init-param指定
    <init-param>
      <param-name>filterConfig</param-name>
      <param-value>struts/struts.xml</param-value>
    </init-param>
    -->
    <filter-class>com.yishu.web.MyStrustFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>*.action</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>com.yishu.web.ClearSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/clearSession.do</url-pattern>
  </servlet-mapping>

  <!-- 去除 jstl页面生成的空格 -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>

  <!-- 出错页面定义 -->
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/exception.jsp</location>
  </error-page>

</web-app>
