<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--装配机制 3.XML显示装配(a.构造器注入成员变量,使用constructor-arg或c-命名空间; b.Setter注入成员变量,使用property或p-命名空间)-->

    <bean class="com.yishu.bean.SgtPeppers" /><!--bean的id为com.yishu.bean.SgtPeppers#0-->
    <bean id="compactDisc" class="com.yishu.bean.SgtPeppers" />

    <!--构造器注入,调用bean的构造器-->
    <!--构造器注入bean-->
    <!--方式1.<constructor-arg/>元素-->
    <bean id="cdPlayer" class="com.yishu.bean.CDPlayer">
        <constructor-arg ref="compactDisc" />
    </bean>
    <!--方式2.c-命名空间-->
    <bean class="com.yishu.bean.CDPlayer"
          c:compactDisc-ref="compactDisc" /><!--cd为注入的参数名称-->
    <bean class="com.yishu.bean.CDPlayer"
          c:_0-ref="compactDisc" /><!--0代表第一个参数,数字不能成为属性的第一个字符所以用下划线做前缀-->
    <bean class="com.yishu.bean.CDPlayer"
          c:_-ref="compactDisc" /><!--只有一个参数所以不用标识了-->

    <!--构造器注入字面量-->
    <bean class="com.yishu.bean3.BlankDisc">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />
        <constructor-arg value="The Beatles" />
    </bean>
    <bean class="com.yishu.bean3.BlankDisc"
        c:title="Sgt. Pepper's Lonely Hearts Club Band"
        c:artist="The Beatles" />
    <bean class="com.yishu.bean3.BlankDisc"
          c:_0="Sgt. Pepper's Lonely Hearts Club Band"
          c:_1="The Beatles" />
    <!--<bean class="com.yishu.bean3.BlankDisc"-->
          <!--c:_="Sgt. Pepper's Lonely Hearts Club Band" />--><!--如果构造器只有一个参数可以只使用下划线-->

    <!--构造器装配集合, 只能使用<constructor-arg/>元素,c-命名空间无法做到-->
    <bean class="com.yishu.bean3.BlankDiscWithTracks">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />
        <constructor-arg value="The Beatles" />
        <constructor-arg><null/></constructor-arg><!--给构造器List参数传递null,在注入期正常执行,但调用play()时产生NullPointerException-->
    </bean>
    <bean class="com.yishu.bean3.BlankDiscWithTracks">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />
        <constructor-arg value="The Beatles" />
        <constructor-arg>
            <!--构造器集合参数为List型-->
            <list>
                <!--列表元素是字面量-->
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
            </list>
        </constructor-arg>
    </bean>
    <bean class="com.yishu.bean3.BlankDiscWithTracks"
          c:title="Sgt.Pepper's Lonely Hearts Club Band"
          c:artist="The Beatles">
        <constructor-arg>
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="beatlesDiscography" class="com.yishu.bean3.Discography">
        <constructor-arg value="The Beatles" />
        <constructor-arg>
            <list>
                <!--列表元素是bean引用-->
                <ref bean="sgtPeppers" />
                <ref bean="whiteAlbum" />
                <ref bean="hardDaysNight" />
                <ref bean="revolver" />
            </list>
        </constructor-arg>
    </bean>
    <bean class="com.yishu.bean3.BlankDiscWithTracks">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band" />
        <constructor-arg value="The Beatles" />
        <constructor-arg>
            <!--构造器集合参数为Set型-->
            <set>
                <!--列表元素是字面量-->
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
            </set>
        </constructor-arg>
    </bean>

    <!--属性注入,调用bean的Setter-->
    <!--注入bean,方式1.使用<property>元素-->
    <bean class="com.yishu.bean.CDPlayer">
        <property name="compactDisc" ref="compactDisc" />
    </bean>
    <!--注入bean,方式2.使用p-命名空间-->
    <bean class="com.yishu.bean.CDPlayer"
          p:compactDisc-ref="compactDisc" /><!--p:属性名-ref="bean的ID"-->
    <!--注入字面量-->
    <!--方式1,使用<property>元素-->
    <bean class="com.yishu.bean3.BlankDiscWithTracks2">
        <property name="title" value="Sgt. Pepper's Lonely Hearts Club Band" />
        <property name="artist" value="The Beatles" />
        <property name="tracks">
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
            </list>
        </property>
    </bean>
    <!--方式2,同时使用<property>元素和p-命名空间-->
    <bean class="com.yishu.bean3.BlankDiscWithTracks2"
          p:title="Sgt. Pepper's Lonely Hearts Club Band"
          p:artist="The Beatles">
        <property name="tracks">
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
            </list>
        </property>
    </bean>

    <!--util-命名空间-->
    <!--<util:list>会创建一个java.util.List类型的bean,其中包含值或引用-->
    <util:list id="trackList">
        <value>Sgt. Pepper's Lonely Hearts Club Band</value>
        <value>With a Little Help from My Friends</value>
        <value>Lucy in the Sky with Diamonds</value>
        <value>Getting Better</value>
        <value>Fixing a Hole</value>
    </util:list>
    <bean class="com.yishu.bean3.BlankDiscWithTracks2"
          p:title="Sgt. Pepper's Lonely Hearts Club Band"
          p:artist="The Beatles"
          p:tracks-ref="trackList" />

</beans>