<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yishu.dao.WechatDao">

    <select id="findUserByopenid" resultType="User">
        SELECT `user_id`,`openid`,`createtime`,`nickname`,`IMGURL`.`untime`
        FROM h_user
        WHERE `openid`=#{openid}
    </select>

</mapper>
<!--参:
    public String addSubscribe()
    {
        String sql = "insert into h_user (openid,createtime,nickname,IMGURL) values(#{openid},#{createtime},#{nickname},#{imgurl})";

        return sql;
    }

    // 用户取消关注
    public String UnSubscribe()
    {
        String sql = "update h_user set untime=#{untime} where openid=#{openid} ";

        return sql;
    }

    public String UnSubscribe2()
    {
        String sql = "update h_user set IMGURL=#{imgurl},nickname=#{nickname} where openid=#{openid} ";

        return sql;
    }
-->