/*遮罩 CSS:*/

.mask
{
    background: gray;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
    filter: alpha(opacity=60);
    opacity: 0.6 !important;
}



/*弹出层 CSS:*/

.PopUp
{
    position: fixed;
    display: none;
    z-index: 21 !important;
    background-color: White;
    width: 900px;
    border-style: solid solid solid solid;
    border-width: 5px 5px 5px 5px;
    border-color: #cccc99;
    left: 50%;
    top: 50%;
    margin-top: -200px; /*--高度的一半--*/
    margin-left: -450px; /*--宽度的一半--*/
}